* {
    color: black;
}

#search-button {
    color: black;
    font-weight: bold;
    width: 20vw;
    margin-left: 10px;
    border-radius: 3px;
}

#search-input {
    width: 20vw;
    margin-left: 10px;
}

.button-box {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    align-items: center;
    justify-content: space-between;
}

.btn-secondary {
    width: 20vw;
    text-align: center;
    border: 1px, black;
}

.today {
    display: flex;
    flex-direction: row;
}

.today-box img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: end;
}

.five-day {
    display: flex;
    /* flex-direction: row; */
    /* border: 1px, black;not working */
    align-items: center;
    justify-content: space-around;
}

.day {
    display: inline-block;
    background-color: #007bff;
    font-weight: bold;
    padding: 1vw;
    /* border: 1px, black; not working */
}