* {
    color: black;
}

header {
    background-color: blue !important;
}

#search-button {
    color: black;
    font-weight: bold;
}

/* .btn-secondary {
    background-color: brown;
} */

.five-day {
 display: flex;
 flex-direction: row;
}

.day {
padding: 5vw;
}
