* {
    color: black;
}

header {
    background-color: blue !important;
}

#search-button {
    color: black;
    font-weight: bold;
    width: 20vw;
    margin-left: 10px;
    border-radius: 3px;
}

#search-input {
    width: 20vw;
    margin-left: 10px;
}

.button-box {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    align-items: center;
    justify-content: space-between;
}

.btn-secondary {
    width: 20vw;
    text-align: center;
    border: 1px, black;
}

#today-box {
    border: 1px, black;
}

.five-day {
    display: flex;
    flex-direction: row;
    align-items: space-around;
}

.day {
    background-color: rgb(26, 4, 116);
    font-weight: bold;
    padding: 1vw;
    border: 1px, black;
}